asyncio
dbus-python
uvicorn
pytest
pytest-asyncio
fastapi[all]
httpie
databases[postgresql]
pymongo
motor
pydantic
email-validator
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
sqlmodel
alembic
ipython
requests
beautifulsoup4
python-dateutil
